<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Edit Skill # <%= skill._id %></h1>
  <form method="POST" autocomplete="off" action="/skills/<%= skill._id %>?_method=PUT">
    <input type="text" name="skill" value="<%= skill.skill %>">
    <input type="text" name="difficulty" value="<%= skill.difficulty %>">
    <input type="checkbox" <%= skill.hasSkill ? 'checked' : '' %> name="hasSkill">
    <button type="submit">Save Skill Info</button>
  </form>
</body>
</html>